# Monitoramento Apache - Apache Exporter
- name: Habilita o server-status report
  become: true
  command: bash -c 'echo -e "ExtendedStatus on\n<Location /server-status>\n    SetHandler server-status\n    Order deny,allow\n    Deny from all\n    Allow from 127.0.0.1\n</Location>/" >> /etc/apache2/conf-available/server-status.conf'


- name: Cria um link simbólico para o server-status
  become: true
  command: ln -s ../conf-available/server-status.conf server-status.conf


- name: restart apache para aplicar a mudança do server-status
  become: true
  systemd:
    name: apache2
    state: restarted
    daemon_reload: yes


- name: Cria pasta do go
  become: true
  file:
    path: /home/ubuntu/go
    state: directory


- name: Adiciona o go ao PATH
  become: true
  command: bash -c 'echo -e "export GOPATH=$HOME/go\nexport PATH=$PATH:$GOROOT/bin:$GOPATH/bin" >> /home/ubuntu/.profile'


- name: Reload .profile
  sudo: no
  shell: source /home/ubuntu/.profile
  args:
     executable: /bin/bash


- name: Cria um usuário para o apache exporter
  user:
    name: apache_exporter
    state: present
    shell: /sbin/nologin   
    createhome: no       


- name: Baixa o apache_exporter
  become: true
  command: go get -v github.com/Lusitaniae/apache_exporter


- name: Copia o binário do apache_exporter
  become: true
  command: cp ~/go/bin/apache_exporter /usr/sbin/


- name: Adiciona o serviço ao systemd
  become: true
  command: bash -c 'echo -e "[Unit]\nDescription=Apache Exporter\n\n[Service]\nUser=apache_exporter\nEnvironmentFile=/etc/sysconfig/apache_exporter\nExecStart=/usr/sbin/apache_exporter $OPTIONS\n\n[Install]\nWantedBy=multi-user.target" >> /etc/systemd/system/apache_exporter.service'


- name: Cria o diretório do sysconfig
  become: true
  file:
    path: /etc/sysconfig
    state: directory


- name: Cria o arquivo de sysconf
  become: true
  file: 
       path: /etc/sysconfig/apache_exporter
       state: touch


- name: Definindo opções
  become: true
  command: bash -c 'echo -e 'OPTIONS="-scrape_uri='http://127.0.0.1/server-status/?auto'"' >> /etc/sysconfig/apache_exporter'


- name: Verifica apache_exporter & Enable apache_exporter
  become: true
  systemd:
    name: apache_exporter
    state: started
    enabled: true
    daemon_reload: yes


#Monitoramento Completo - Node Exporter

- name: Download do Node Exporter
  get_url:
    url: https://github.com/prometheus/node_exporter/releases/download/v0.18.1/node_exporter-0.18.1.linux-amd64.tar.gz
    dest: /tmp/node_exporter.tgz


- name: Descompacta o pacote
  unarchive:
    src: /tmp/node_exporter.tgz
    dest: /tmp
    remote_src: yes


- name: Move o binário  
  become: true
  command: mv /tmp/node_exporter-0.18.1.linux-amd64/node_exporter /usr/local/bin/


- name: Cria um usuário para o apache exporter
  user:
    name: node_exporter
    state: present
    shell: /bin/false
    createhome: no       


- name: Adiciona o serviço ao systemd
  become: true
  command: bash -c 'echo -e "[Unit]\nDescription=Node Exporter\nAfter=network.target\n\n[Service]\nUser=node_exporter\nGroup=node_exporter\nType=simple\nExecStart=/usr/local/bin/node_exporter\n\n[Install]\nWantedBy=multi-user.target" >> /etc/systemd/system/node_exporter.service'


- name: Verifica node_exporter & Enable node_exporter
  become: true
  systemd:
    name: node_exporter
    state: started
    enabled: true
    daemon_reload: yes